@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

:root {
    --primary-200: #c1beff;
    --primary-500: #645cff;
    --primary-700: #3c3799;
    --grey-50: #f8fafc;
    --grey-200: #e2e8f0;
    --grey-400: #94a3b8;
    --grey-900: #0f172a;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;
    --headingFont: 'Roboto', sans-serif;
    --bodyFont: 'Nunito', sans-serif;
    --smallText: 0.7em;
    --backgroundColor: var(--grey-50);
    --textColor: var(--grey-900);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 400px;
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

body {
    font-weight: 400;
    line-height: 1.75;
    color: var(--textColor);
    font-family: var(--bodyFont);
    background: var(--backgroundColor);
}

p {
    max-width: 40em;
    margin-bottom: 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 1.38rem;
    text-transform: capitalize;
    font-family: var(--headingFont);
    letter-spacing: var(--letterSpacing);
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small,
.text-small {
    font-size: var(--smallText);
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style-type: none;
}

.img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    cursor: pointer;
    color: var(--white);
    border: transparent;
    display: inline-block;
    padding: 0.375rem 0.75rem;
    text-transform: capitalize;
    box-shadow: var(--shadow-1);
    transition: var(--transition);
    background: var(--primary-500);
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
}

.btn:hover {
    box-shadow: var(--shadow-3);
    background: var(--primary-700);
}

.btn-hipster {
    color: var(--primary-500);
    background: var(--primary-200);
}

.btn-hipster:hover {
    color: var(--primary-200);
    background: var(--primary-700);
}

.btn-block {
    width: 100%;
}

.alert {
    margin-bottom: 1rem;
    padding: 0.375rem 0.75rem;
    border-color: transparent;
    border-radius: var(--borderRadius);
}

.alert-danger {
    color: var(--red-dark);
    background: var(--red-light);
}

.alert-success {
    color: var(--green-dark);
    background: var(--green-light);
}

.form {
    width: 90vw;
    margin: 0 auto;
    padding: 2rem 2.5rem;
    background: var(--white);
    box-shadow: var(--shadow-2);
    max-width: var(--fixed-width);
    border-radius: var(--borderRadius);
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    font-size: var(--smallText);
    letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 0.375rem 0.75rem;
    background: var(--backgroundColor);
    border-radius: var(--borderRadius);
    border: 1px solid var(--grey-200);
}

.form-row {
    margin-bottom: 1rem;
}

.form-textarea {
    height: 7rem;
}

::placeholder {
    font-family: inherit;
    color: var(--grey-400);
}

.form-alert {
    color: var(--red-dark);
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.loading {
    width: 6rem;
    height: 6rem;
    border: 5px solid var(--grey-400);
    border-radius: 50%;
    border-top-color: var(--primary-500);
    animation: spinner 0.6s linear infinite;
}

.loading {
    margin: 0 auto;
}

.title {
    text-align: center;
}

.title-underline {
    width: 7rem;
    margin: 0 auto;
    height: 0.25rem;
    margin-top: -1rem;
    background: var(--primary-500);
}

.form {
    margin-top: 6rem;
}

.form h4 {
    text-align: center;
}

.submit-btn {
    margin-top: 0.5rem;
}

.container {
    gap: 1rem;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}